<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-success" routerLink="/add-user">Add User</a>

        </div>
        <div class="col-md-9">
            <div class="loader" *ngIf="!isDataAvailable"></div>
            <alert *ngIf="alertMessage.display" type="{{alertMessage.type}}">
                {{alertMessage.content}}
            </alert>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="isDataAvailable">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Known techs</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userToBeDisplayed">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.designation}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.known_techs}}</td>
                    <td>
                        <a class="btn btn-info btn-sm" routerLink="/edit-user/{{user.id}}">
                            Edit
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteUserConfirm(deleteModal, user.id)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination [totalItems]="users.length" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
    </div>
</div>

<ng-template #deleteModal>
    <div class="modal-body text-center">
        <p>Do you want to confirm?</p>
        <button type="button" class="btn btn-default" (click)="deleteUser()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>
