<nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand">User Management</span>
    <span class="nav navbar-right">
        <button class="btn btn-warning" (click)="goBack()">Go back!</button>
    </span>
    
</nav>
<div class="container px-3 py-3">
    <router-outlet></router-outlet>
</div>