<div class="container">
  <alert type="danger" *ngIf="retrieveError">
    There is problem retrieving data.
  </alert>
  <form [formGroup]="userForm" novalidate *ngIf="!isFormSubmitted">
    <div class="form-group">
      <label for="username">Name</label>
      <input type="text" class="form-control" formControlName="username" placeholder="Your Name">
    </div>
    <alert *ngIf="username.invalid && (username.dirty || username.touched)" type="danger">
      <div *ngIf="username.errors.required">
        Name is required.
      </div>
      <div *ngIf="username.errors.minlength">
        Name must be at least 3 characters long.
      </div>
    </alert>

    <div class="form-group">
      <label for="designation">Select designation</label>
      <select class="form-control" formControlName="designation">
        <option *ngFor="let d of designations" value="{{d}}">{{d}}</option>
      </select>
    </div>
    <alert *ngIf="designation.invalid && (designation.dirty || designation.touched)" type="danger">
      <div *ngIf="designation.errors.required">
        Designation is required.
      </div>
    </alert>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
    </div>
    <alert *ngIf="email.invalid && (email.dirty || email.touched)" type="danger">
      <div *ngIf="email.errors.required">
        Email is required.
      </div>
      <div *ngIf="email.errors.email">
        Enter valid email.
      </div>
    </alert>

    <div class="form-group">
      <label>Gender: </label>
      <label class="center-block">
        <input type="radio" formControlName="gender" value="M">Male
      </label>
      <label class="center-block">
        <input type="radio" formControlName="gender" value="F">Female
      </label>
    </div>
    <alert *ngIf="gender.invalid && (gender.dirty || gender.touched)" type="danger">
      <div *ngIf="gender.errors.required">
        Gender is required.
      </div>
    </alert>

    <div class="form-group">
      <label for="known_techs">Select known technologies</label>
      <select multiple class="form-control" formControlName="known_techs">
        <option *ngFor="let kt of knownTechs" value="{{kt}}">{{kt}}</option>
      </select>
    </div>
    <alert *ngIf="known_techs.invalid && (known_techs.dirty || known_techs.touched)" type="danger">
      <div *ngIf="known_techs.errors.required">
        Known technologies are required.
      </div>
    </alert>

    <button class="btn btn-success" [disabled]="userForm.invalid" (click)="submitForm(userForm.value)">Submit</button>
    <a class="btn btn-warning" routerLink="/users">Cancel</a>
  </form>
  <div>
    <alert type="success" *ngIf="isFormSubmitted">
      Users added successfully.
      <a class="btn btn-info" routerLink="/users">Go to users list</a>
    </alert>
    <alert type="danger" *ngIf="isFormSubmitted == null">
      Problem adding user.
    </alert>
  </div>
</div>